body{
    background-color: red;
}

h1{
    color: blueviolet;
    text-shadow: 2px 2px white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

button{
    background-color: yellowgreen;
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 25;
}
body{
    text-align: center;
}
.error{
    color: lightblue;
}